:root {
  --theme-h: 203;
  --theme-s: 65%;
  --theme-l: 89%;
  font-family: Rubik !important;
}

@media (prefers-color-scheme: dark) {

.kbc-button{
  color: #666 !important;
  box-shadow: 0 0 #242424, 0 0 #222, 0 1px #323232, 0 2px #333, 0 3px #333, 0 4px #333, 0 5px #333, 2px 2.5px 4px #333, 0 -1px 2.5px #2c2c2c !important;
  background-color: #222;
  border: 1px solid #464646;
}

.actionsArea:hover {
  border: 1px solid #333 !important;
}


.kbc-button:after{
  border: 1px solid #222;
}

.placeHolderText{
  color: #555 !important; 
}

  #content,
  #header,
  #sidebarContainer,
  #placeHolder,
  .pageContainer {
    background: #121212 !important;
    color: white;
    --theme-l: 30% !important;
    --theme-s: 20% !important;
    border-color: rgba(100, 100, 100, 0.2) !important;
  }
  
  .actionsArea{
    background: #222 !important;
    color: white;
    --theme-l: 30% !important;
    --theme-s: 20% !important;
  }
  .actionsArea:has(h1:only-child) {
    background: #121212 !important;
  }

  #logo{
    fill: hsl(var(--theme-h), 20%, 30%) !important; 
  }

  .handle{
    fill: white;
  }

  #myNotebooks{
    color: white !important;
  }

  .windowButton{
    background: #121212 !important;
  }
  .windowButton img{
    filter: brightness(500%) !important;
  }
  .windowButton#close:active {
    background-color: rgb(255, 48, 90) !important;
  }
  
  .windowButton#close:hover {
    background-color: rgb(255, 69, 106) !important;
  }
  #sidebar{
    background-color: hsl(var(--theme-h), 40%, 35%) !important;
  }  
  #sidebar .tool{
    background-color: hsl(var(--theme-h), 52%, 28%) !important;
    filter: none !important;
  }
  #sidebar .tool:hover{
    filter: brightness(90%) !important;
  }
  #toolbar .tool{
    filter: brightness(100%) saturate(200%) !important;
  }
  #toolbar .tool:hover{
    filter: brightness(85%) saturate(240%) !important;
  }
  
  #sidebar .tool svg{
    fill: hsl(var(--theme-h), 10%, 30%) !important; 
  }

  .folderTitle:hover>.notebookIcon,
  .listedFile:hover>.fileIcon {
    filter: brightness(150%);
}

  .listedFile:hover {
    filter: brightness(90%) !important;
  }

  .listedFile:has(.fileName#open) {
    filter: brightness(85%);
  }

  .listedFile {
    background: #121212 !important;
    color: white !important;
  }

  .icon>svg {
    filter: brightness(500%) !important
  }
}

@media (prefers-color-scheme: light) {
  #sidebar .tool:active {
    filter: brightness(70%) saturate(240%);
  }
  
  #sidebar .tool:hover {
    filter: brightness(81%) saturate(240%);
  }
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

html {
  overflow-y: hidden;
}

html,
body,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sidebarGrid{
  width: 100%;
  height: fit-content !important;
}

#notebookList{
  width: 100% !important;
} 

.notebook{
  width: 100%;
  height: 100%;
}



math-field {
  font-size: 30px;
  --hue: var(--theme-h)
}

svg {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.GeoGebraFrame {
  border-color: transparent !important;
}

.GeoGebraFrame,
.gwt-Label {

  border-radius: 7px;
  font-family: Rubik !important;
}

.actionsArea {
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  background: rgb(246, 246, 246);
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid transparent;
  transition: 0.2s;
}

.actionsArea:has(.ggBox) {
  padding: 3px;
}

.actionsArea:has(h1:only-child) {
  background: rgb(255, 255, 255);
}

.actionsArea:hover {
  border: 1px solid #c5c5c5;
}

.appContainer {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100%;
  min-width: 100%;
}

.applet_scaler,
.ggbTransform,
.ggBox,
.applet_dimensions {
  width: 100% !important;
  height: 100% !important;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  overflow-x: auto;
}

.fileName {
  direction: rtl;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.folderContent .fileName {
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.folderContent .fileIcon {
  width: 15px;
}

.notebook .grid-stack-item-content{
  padding-right: 18px;
}

#notebookList{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-height: 100%;
  flex-grow: 1;
}

.folderContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: 0.2s;
  /* overflow-y: hidden; */
  width: 250px !important;
  min-height: fit-content !important;
}

.folderTitleText {
  direction: rtl;
  font-size: 18px;
  font-weight: 400;
  transition: 0.1s;
}

.folderTitle:hover>.folderTitleText,
.folderTitleText#open {
  font-weight: 550;
}

.folderTitle:active>.folderTitleText {
  font-weight: 400;
}

.folderTitle:active>.notebookIcon {
  filter: brightness(100%);
}

.folderTitle:hover,
.folderTitle:active {
  cursor: pointer;
}

.folderTitle {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 35px;
  justify-content: flex-start;
}



.ggbContainer {
  height: 100%;
  min-width: 100%;
}

.grid-stack .grid-stack-placeholder>.placeholder-content {
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  filter: opacity(20%);
  border-radius: 8px;
  margin: 0;
  position: absolute;
  width: calc(100% - 45px);
  z-index: 0 !important;
  text-align: center;
  transition: 0.2s;
}
.sidebarGrid .grid-stack-placeholder>.placeholder-content {
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  filter: opacity(20%);
  border-radius: 8px;
  margin: 0;
  position: absolute;
  width: 90%;
  height: 35px;
  z-index: 0 !important;
  text-align: center;
  transition: 0.2s;
}

.grid-stack-item {
  background: transparent;
  overflow-y: hidden !important;
  transition: display 0.2s;
}

.grid-stack-item-content {
  display: flex;
  flex-direction: row-reverse;
  overflow-y: hidden !important;
  max-height: 100%;
  height: auto;
}

.grid-stack-item-content:has(h1:only-child)>.handle {
  margin-top: auto;
  margin-bottom: auto;
}

.handle {
  height: 22px;
  padding-left: 5px;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.3s;
}

.handle:hover {
  cursor: grab;
  opacity: 50%;
}
.handle:active {
  cursor: grabbing;
  opacity: 60%;
}

.icon {
  -webkit-user-drag: none;
  filter: brightness(30%) saturate(400%);
  fill: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
}

.sidebarItem>.grid-stack-item-content{
  height: fit-content;
  /* padding-right: 30px; */
}

.notebook .listedFile{
  width: 100%;
}

.listedFile {
  width: 100%;
  height: 35px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.2s filter, 0.2s background-color;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.listedFile:has(.fileName#closed) {
  background-color: #FFFFFF;
}

.listedFile:has(.fileName#open) {
  filter: brightness(90%);
}

.listedFile:hover {
  filter: brightness(94%);
}

.listedFile:active {
  filter: brightness(80%);
}

.notebookIcon,
.fileIcon {
  height: 20px;
  padding-right: 8px;
  padding-left: 8px;
  transition: 0.2s;
  fill: hsl(var(--theme-h), 50%, 30%);
}

.pageContainer {
  background-color: white;
  width: 73%;
  border-radius: 20px 20px 0px 0px;
  height: 100% !important;
  overflow-y: scroll !important;
  border: 1px solid #DDD;
  min-height: 100% !important;
  scroll-behavior: smooth;
  padding-top: 10px;
  transition: 0.2s;
}

.pageContainer::-webkit-scrollbar {
  display: none;
}

#page {
  min-height: 10000% !important;
}

.ql-editor:has(h1:only-child) {
  overflow-y: hidden !important;
}

.ql-formula {
  direction: ltr;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border-color: transparent;
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  transition: ease 0.2s;
  transform: scale(1)
}

.tool:active {
  transform: scale(0.940);
  cursor: pointer;
}

.tool:hover {
  transition: ease 0.2s;
  filter: brightness(94%) saturate(250%);
  cursor: pointer;
}

.ui-draggable-dragging>.grid-stack-item-content,
.ui-resizable-resizing>.grid-stack-item-content {
  box-shadow: 0 0 0px transparent;
  opacity: 0.9;
}

.ui-resizeable-resizing>.grid-stack-item-content {
  box-shadow: 0 0 0px transparent;
  opacity: 0.9;
}

.grid-stack-item-removing .actionsArea {
  max-width: 30px;
  max-height: 30px;
  opacity: 0.3;
  background-color: hsl(0, var(--theme-s), var(--theme-l))  !important;
}

.windowButton {
  -webkit-app-region: no-drag;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #FFFFFF;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.2s;
}

.windowButton#close:active .icon {
  filter: brightness(500%) !important;
}

.windowButton#close:active {
  background-color: rgb(255, 66, 104);
}

.windowButton#close:hover {
  background-color: rgb(255, 104, 134);
}

.windowButton#maximize:active,
.windowButton#minimize:active {
  filter: brightness(80%);
}

.windowButton#maximize:hover,
.windowButton#minimize:hover {
  filter: brightness(90%);
}

.windowButton:hover {
  cursor: pointer;
}

.windowButton>.icon {
  width: 70%;
  padding-top: 3px;
}

#con {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex: 1;
  overflow-y: hidden;
  transition: 0.2s background-color;
}

#placeHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.2s;
}

.kbc-button {
  color: #777 !important;
  font-family: Rubik;
  font-weight: 100;
  transition: 0.2s;
}

.placeHolderText {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  direction: rtl;
  font-size: 25px;
  font-weight: 100;
  color: #777;
}
.placeHolderText.space {
  font-size: 10px;
}

#content {
  background-color: rgb(255, 255, 255);
  flex: 1;
  overflow-y: hidden;
  padding-top: 70px;
  display: none;
  flex-direction: row-reverse;
  align-items: flex-start;
  /* margin-top: auto; */
  margin-bottom: auto;
  justify-content: center;
  height: -webkit-fill-available;
  transition: 0.2s;
}

#fileName {
  direction: rtl;
  font-weight: bold;
  -webkit-app-region: none
}

#filepath {
  width: -webkit-fit-available;
  font-weight: lighter;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  direction: rtl;
}

#header {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: 45px;
  background-color: white;
  border-bottom: 1px solid #d2d2d2;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.2s;

}

#logo {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  transition: 0.2s;
  filter: brightness(25%);
  fill: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
}

#logo:hover {
  filter: brightness(40%) saturate(120%);
  cursor: pointer;
}

#logo:active {
  filter: brightness(60%) saturate(160%);
  cursor: pointer;
}

#menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#myNotebooks {
  display: none;
  font-size: 25px;
  font-weight: 700;
  margin-top: 14px;
  padding-right: 10px;
  /* width: 0px; */
  direction: rtl;
  height: fit-content;
  -webkit-user-select: none;
  user-select: none;
  color: hsl(var(--theme-h), 40%, 30%);
  opacity: 50%;
  padding-bottom: 7px;
  white-space: nowrap;
}




#settings {
  margin-bottom: 10px;
}

#settings>svg {
  transition: transform 0.4s;
}

#settings:hover>svg {
  transform: rotate(60deg);
}

#settings:active>svg {
  transform: rotate(300deg);
}

#search>svg {
  transition: 0.4s;
}

#search:hover>svg {
  transform: rotate(10deg);
}

#search:active>svg {
  transform: rotate(-5deg);
}

#notebooks>svg {
  transition: 0.4s;
  perspective: 100px;

}

#notebooks:hover>svg {
  transform: rotateX(-20deg);
  perspective: 100px;

}

#notebooks:active>svg {
  perspective: 100px;
  transform: rotateX(20deg);
}

#sidebar .tool {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  filter: brightness(87%) saturate(200%);
  transition: 0.2s;
  align-content: center;
  justify-content: center;
  align-items: center;
}



#sidebar {
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  min-width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.2s;

}

#sidebarButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#sidebarContainer {
  display: flex;
  border-left: 0.3px solid hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  background-color: white;
  min-width: 0px;
  min-height: 100%;
  max-height: 100%;
  transition: min-width 0.5s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.2s, background-color 0.2s;
}


#sidebarContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

#toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  transition: 0.2s;
}

#toolbar>.tool>.icon {
  width: 100% !important;
}


#windowButtons {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.GeoGebraFrame .toolbar .header-open-portrait,
.GeoGebraFrame .toolbar .header-close-portrait,
.GeoGebraFrame .closeLandscape.toolbar {
  box-shadow: none !important;
}

#trashCan {
  background-color: hsl(0, var(--theme-s), var(--theme-l));
}

#trashCan>.icon {
  fill: hsl(0, var(--theme-s), var(--theme-l));
}


#snackbar {
  direction: rtl;
  visibility: hidden;
  min-width: 120px;
  margin-left: -60px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}


#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.2s, fadeout 0.3s 1s;
  animation: fadein 0.2s, fadeout 0.3s 1s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}