:root {
  --theme: hsl(203, 65%, 89%);
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

html {
  overflow-y: hidden;
}
html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}

math-field {
  font-size: 30px;
}

svg {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
.GeoGebraFrame {
  border-color: transparent !important;
}

.GeoGebraFrame, .gwt-Label {

  border-radius: 7px;
  font-family: Rubik !important;
}

.actionsArea {
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  background: rgb(246, 246, 246);
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid transparent;
  transition: 0.2s;
}

.actionsArea:has(.ggBox) {
  padding: 3px;
}

.actionsArea:has(h1:only-child) {
  background: rgb(255, 255, 255);
}

.actionsArea:hover {
  border: 1px solid #c5c5c5;
}

.appContainer {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100%;
  min-width: 100%;
}
.applet_scaler, .ggbTransform, .ggBox, .applet_dimensions {
  width: 100% !important;
  height: 100% !important;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  overflow-x: auto;

}

.fileName {
  padding-right: 10px;
  font-family: Rubik;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
}

.folder {
  width: 0px;
  height: fit-content;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.folderContent {
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 0.3s;
  overflow-y: hidden;
}

.folderTitleText{
  direction: rtl;
  font-family: Rubik;
  font-size: 0px;
  transition: font-weight 0.1s;
  font-weight: 400;
}
.folderTitle:hover>.folderTitleText, .folderTitleText#open {
  font-weight: 550;
}
.folderTitle:hover>.notebookIcon{
  filter: brightness(150%);
}
.folderTitle:active>.folderTitleText{
  font-weight: 400;
}
.folderTitle:active>.notebookIcon{
  filter: brightness(100%);
}
.folderTitle:hover, .folderTitle:active{
  cursor: pointer;
}

.folderTitle {
  -webkit-user-select: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.1s;
  padding-bottom: 10px;
}



.ggbContainer {
  height: 100%;
  min-width: 100%;
}

.grid-stack .grid-stack-placeholder>.placeholder-content {
  background-color: var(--theme);
  filter: opacity(20%);
  border-radius: 8px;
  margin: 0;
  position: absolute;
  width: calc(100% - 45px);
  z-index: 0 !important;
  text-align: center;
  transition: 0.3s;
}

.grid-stack-item {
  background: transparent;
  overflow-y: hidden !important;
}

.grid-stack-item-content {
  display: flex;
  flex-direction: row-reverse;
  overflow-y: hidden !important;
  max-height: 100%;
  height: auto;
}

.grid-stack-item-content:has(h1:only-child)>.handle {
  margin: auto;
}

.handle {
  height: 25px;
  padding-left: 5px;
}

.handle:hover {
  cursor: pointer;
}

.icon {
  -webkit-user-drag: none;
  filter: brightness(30%) saturate(400%);
  fill: var(--theme);
}



.listedFile {
  width: 0px;
  height: 35px;
  background-color:#FFFFFF;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.listedFile:has(.fileName#closed) {
  background-color:#FFFFFF;
}

.listedFile:has(.fileName#open){
  filter: brightness(90%);
}
.listedFile:hover {
  filter: brightness(94%);

}

.listedFile:active {
  filter: brightness(80%);
}
.notebookIcon {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 8px;
  transition: 0.1s;
}


.pageContainer {
  background-color: white;
  width: 73%;
  border-radius: 20px 20px 0px 0px;
  height: 100%;
  overflow-y: scroll !important;
  border: 1px solid #DDD;
  min-height: 0px !important;
  padding-top: 10px;
  transition: 0.2s;
}

.pageContainer::-webkit-scrollbar {
  display: none;
}

.ql-editor:has(h1:only-child) {
  overflow-y: hidden !important;
}

.ql-formula {
  direction: ltr;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border-color: transparent;
  background-color: var(--theme);
  transition: ease 0.2s;
  transform: scale(1)
}

.tool:active {
  transform: scale(0.940);
  cursor: pointer;
}

.tool:hover {
  transition: ease 0.2s;
  filter: brightness(94%) saturate(250%);
  cursor: pointer;
}
.ui-draggable-dragging>.grid-stack-item-content, .ui-resizable-resizing>.grid-stack-item-content {
  box-shadow: 0 0 0px transparent;
  opacity: 0.9;
}
.ui-resizeable-resizing>.grid-stack-item-content {
  box-shadow: 0 0 0px transparent;
  opacity: 0.9;
}
.windowButton {
  -webkit-app-region: no-drag;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #FFFFFF;
  margin: auto;
  transition: 0.2s;
}

.windowButton#close:active .icon {
  filter: brightness(500%) !important;
}

.windowButton#close:active {
  background-color: rgb(255, 66, 104);
}
.windowButton#close:hover {
  background-color: rgb(255, 104, 134);
}
.windowButton#maximize:active, .windowButton#minimize:active {
  filter: brightness(80%);
}

.windowButton#maximize:hover, .windowButton#minimize:hover {
  filter: brightness(90%);
}
.windowButton:hover {
  cursor: pointer;
}

.windowButton>.icon {
  width: 70%;
  padding-top: 3px;
}

#con {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex: 1;
  overflow-y: hidden;

}

#content {
  background-color: rgb(255, 255, 255);
  flex: 1;
  overflow-y: hidden;
  padding-top: 70px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  /* margin-top: auto; */
  margin-bottom: auto;
  justify-content: center;
  height: -webkit-fill-available;
}

#fileName {
  font-weight: bold;
}

#filepath {
  width: -webkit-fit-available;
  font-family: Rubik;
  font-weight: lighter;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  direction: rtl;
}

#header {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: 45px;
  background-color: white;
  border-bottom: 0.3px solid #BEBEBE;
  margin-top: auto;
  margin-bottom: auto;
}

#logo {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  transition: 0.1s;
  filter: brightness(25%);
  fill: var(--theme);
}

#logo:hover {
  filter: brightness(40%);
  cursor: pointer;
}
#logo:active {
  filter: brightness(60%);
  cursor: pointer;
}

#menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#myNotebooks {
  font-size: 25px;
  font-family: Rubik;
  font-weight: 600;
  margin-top: 14px;
  width: 0px;
  direction: rtl;
  height: fit-content;
  -webkit-user-select: none;
  color: var(--theme);
  filter: brightness(0.5) saturate(200%);
  transition: 0.3s;
  padding-bottom: 10px;
  white-space: nowrap;
}


#page {
  min-height: 0px !important;
}

#settings {
  margin-bottom: 10px;
}
#settings>svg{
  transition: 0.4s;
}
#settings:hover>svg{
  transform: rotate(60deg);
}
#settings:active>svg{
  transform: rotate(300deg);
}
#search>svg{
  transition: 0.4s;
}
#search:hover>svg{
  transform: rotate(10deg);
}
#search:active>svg{
  transform: rotate(-5deg);
}
#notebooks>svg{
  transition: 0.4s;
  perspective: 100px;

}
#notebooks:hover>svg{
  transform: rotateX(-20deg);
  perspective: 100px;

}
#notebooks:active>svg{
  perspective: 100px;
  transform: rotateX(20deg);
}

#sidebar .tool {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  filter: brightness(87%) saturate(200%);
  transition: 0.2s;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#sidebar .tool:active {
  filter: brightness(70%) saturate(240%);
}

#sidebar .tool:hover {
  filter: brightness(81%) saturate(240%);
}
#sidebar {
  background-color: var(--theme);
  min-width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.3s;

}

#sidebarButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#sidebarContainer {
  border-left: 1px solid var(--theme);
  background-color: white;
  min-width: 0px;
  min-height: 100%;
  transition: min-width 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}


#sidebarContent {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  transition: 0.2s;
}

#toolbar>.tool>.icon {
  width: 100% !important;
}


#windowButtons {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.GeoGebraFrame .toolbar .header-open-portrait, .GeoGebraFrame .toolbar .header-close-portrait{
  box-shadow: none !important;
}