:root {
  --theme-s: 90%;
  --theme-l: 89%;
  --page-style: transparent;
  font-family: Rubik !important;
}

@media (prefers-color-scheme: dark) {
  .picturePicker{
    background: url(icons/darkPicture.svg) no-repeat scroll 50% 50% !important;
    background-size: 30% 30% !important;
  }

  div.circle {
    background: rgb(80, 80, 80) !important;
  }
  .line {
    background: rgb(80, 80, 80) !important;
  }
#filepath{
  color: #eee !important;
}

.kbc-button{
  color: #666 !important;
  box-shadow: 0 0 #242424, 0 0 #222, 0 1px #323232, 0 2px #333, 0 3px #333, 0 4px #333, 0 5px #333, 2px 2.5px 4px #333, 0 -1px 2.5px #2c2c2c !important;
  background-color: #222;
  border: 1px solid #464646;
  border-bottom: 1px solid #464646 !important;

}

.keysRow {
  color: #eee
}

#shortcutsHelp{
  background: linear-gradient(
    120deg,
    rgba(50, 50, 50, .25),
    rgba(50, 50, 50, .75), 70%, 
    rgba(50, 50, 50, .25)
  ) !important;
  border: 2px solid rgba(140, 140, 140, .3) !important;
  border-bottom: none !important;
}
#keysTitle span{
  color: #eee;
}
.context-menu .menu {
  background: linear-gradient(
    120deg,
    rgba(50, 50, 50, .25),
    rgba(50, 50, 50, .75), 70%, 
    rgba(50, 50, 50, .25)
  ) !important;
  border: 1px solid rgba(140, 140, 140, .3) !important;
}

.groupTypeSelector:hover{
  background-color: rgba(230, 230, 230, .1) !important;
}
.groupTypeSelector:active{
  background-color: rgba(230, 230, 230, .2) !important;
}

.groupTypeSelector span{
  color: #eee;
}

#clr-picker{
  background-color: #222 !important;
}


.kbc-button:after{
  border: 1px solid #222;
}

.placeHolderText{
  color: #555 !important; 
}

  #content,
  #header,
  #sidebarContent,
  #placeHolder,
  #archivePlaceHolder,
  #con,
  .pageContainer {
    background: #121212 !important;
    color: #eee;
    --theme-l: 30% !important;
    --theme-s: 20% !important;
    border-color: rgba(100, 100, 100, 0.2) !important;
  }

  #searchBar{
    color: #eee !important;
  }
  
  .ML__keyboard{
    --keycap-background: hsla(var(--theme-h), 80%, 10%, 0.2) !important;
    --keycap-background-active: hsla(var(--theme-h), 80%, 40%, 0.6) !important;
    --keyboard-alternate-background-active: hsla(var(--theme-h), 100%, 70%, 1) !important;
    --keyboard-alternate-background: hsla(var(--theme-h), 40%, 30%, 0.9) !important;
    --keyboard-text-active: hsla(var(--theme-h), 100%, 70%, 1) !important;
    --keyboard-background: hsla(var(--theme-h), 80%, 7%, 0.9) !important;
    --keycap-background-border: hsla(var(--theme-h), 80%, 40%, 0.3) !important;
    --keycap-background-border-bottom: hsla(var(--theme-h), 80%, 50%, 0.3) !important;
    --keycap-text-active: hsla(var(--theme-h), 80%, 70%, 1) !important;
    --keycap-modifier-background: hsla(var(--theme-h), 80%, 10%, 0.2) !important;
    --keycap-modifier-active: hsla(var(--theme-h), 80%, 10%, 0.4) !important;
    --keycap-modifier-border: hsla(var(--theme-h), 80%, 40%, 0.3) !important;
    --keycap-modifier-border-bottom: hsla(var(--theme-h), 80%, 50%, 0.3) !important;  
  }  
  #colorSwitcher{
    background-color: hsl(var(--theme-h), 30%, var(--theme-l)) !important;
    color: hsl(var(--theme-h), 30%, var(--theme-l)) !important;   
  }

  #sidebarTitle{
    color: hsl(var(--theme-h), 40%, 60%) !important;
  }

  .actionsArea{
    background: rgba(0, 0, 0, 0.12) !important;

    color: #eee;
    --theme-l: 30% !important;
    --theme-s: 20% !important;
  }

  .actionsArea:has(.Group){
    background: hsla(0, 0%, 13%, 0.3) !important;
  }
  .actionsArea:has(.Group) .actionsArea{
    background: rgba(0, 0, 0, 0.12) !important;
  }

  .actionsArea:has(h1:only-child):not(.actionsArea:has(.Group)) {
    background: transparent !important;
  }

  #logo{
    fill: hsl(var(--theme-h), 20%, 30%) !important; 
  }

  .handle{
    fill: #eee;
  }

  #myNotebooks{
    color: #eee !important;
  }

  .windowButton{
    background: #121212 !important;
  }
  .windowButton img{
    filter: brightness(500%) !important;
  }
  .windowButton#close:active {
    background-color: rgb(255, 48, 90) !important;
  }
  
  .windowButton#close:hover {
    background-color: rgb(255, 69, 106) !important;
  }
  #sidebar{
    background-color: hsl(var(--theme-h), 40%, 35%) !important;
  }  
  #sidebar .tool, #sidebar .toolGroup{
    background-color: hsl(var(--theme-h), 52%, 28%) !important;
    filter: none !important;
  }
  #sidebar .tool:hover{
    filter: brightness(90%) !important;
  }
  #toolbar .tool{ filter: brightness(100%) saturate(200%) !important; }
  
  #toolbar .tool:hover{ filter: brightness(85%) saturate(240%) !important; }
  
  #sidebar .tool svg{ fill: hsl(var(--theme-h), 10%, 30%) !important; }

  .folderTitle:hover>.notebookIcon,
  .listedFile:hover>.fileIcon { filter: brightness(1.4) !important; }

  .listedFile:hover { background-color: rgba(255, 255, 255, 0.05) !important }
  .listedFile:active { background-color: rgba(255, 255, 255, 0.1) !important }

  .listedFile:has(.fileName#open) { background-color: rgba(255, 255, 255, 0.05) !important; }

  .listedFile {
    color: #eee !important;
  }

  .icon>svg { filter: brightness(500%) !important }
}

@media (prefers-color-scheme: light) {
  .ML__keyboard{
    --keyboard-alternate-background-active: hsla(var(--theme-h), 20%, 60%, 1) !important;
    --keyboard-alternate-background: hsla(var(--theme-h), 20%, 80%, 1) !important;
    --keyboard-text-active: unset !important;
    --keyboard-background: hsla(var(--theme-h), 80%, 20%, 0.2) !important;
    --keycap-background: hsla(var(--theme-h), 5%, 100%, 0.8) !important;
    --keycap-background-border: hsla(var(--theme-h), 80%, 40%, 0.3) !important;
    --keycap-background-active: hsla(var(--theme-h), 5%, 100%, 1) !important;
    --keycap-background-border-bottom: hsla(var(--theme-h), 80%, 50%, 0.3) !important;
    --keycap-text-active: hsla(var(--theme-h), 80%, 70%, 1) !important;
    --keycap-modifier-background: hsla(var(--theme-h), 5%, 100%, 0.8) !important;
    --keycap-modifier-active: unset;
    --keycap-modifier-border: unset;
    --keycap-modifier-border-bottom: unset;  
  }

  body {color: #121212;}

  #sidebar .tool:active { 
    background-color: hsl(var(--theme-h), 30%, 60%);
  }
  
  #sidebar .tool:hover {
    background-color: hsl(var(--theme-h), 30%, 67%);
    /* filter: brightness(81%) saturate(240%); */
  }

  /* .actionsArea:has(.Group){
    background: hsla(0, 0%, 50%, 0.13) !important;
  } */
  .actionsArea:has(h1:only-child) { background: transparent; }

  
  .listedFile:has(.fileName#open) { background-color: rgba(0, 0, 0, 0.1); }

  .listedFile:hover { background-color: rgba(0, 0, 0, 0.06); }

  .listedFile:active { background-color: rgba(0, 0, 0, 0.2) !important; }

}

[contenteditable]:focus { outline: 0px solid transparent; }


.app, body { overflow-y: hidden; }

html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Group{
  width: 100%;
  height: 100%;
}



#shortcutsHelp{
  display: flex;
  align-items: center;
  opacity: 1;
  width: -webkit-fill-available;
  height: 60%;
  z-index: 10000;
  position: absolute;
  bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
  background: linear-gradient(
    120deg,
    rgba(230, 230, 230, .2),
    rgba(230, 230, 230, .7), 70%, 
    rgba(230, 230, 230, .2)
  );
  border-radius: 20px 20px 0px 0px;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: bottom 0.2s cubic-bezier(0.19, 1, 0.22, 1), backdrop-filter 1s 0.2s, background-color 0.2s;
  border-bottom: none !important;

}

#shortcutsContent{
  display: flexbox;
  flex-direction: column;
  direction: rtl;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}

@media (max-width: 1350px){
  #keysContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    overflow-y: auto;
  }
  ::-webkit-scrollbar{
    display: none;
  }
}

#keysContent{
  display: flex;
  flex-direction: row;
  direction: rtl;
  flex-grow: 1;
  height: 83%;
  gap: 60px;
}

#keysContent hr{
  border-top: 1px solid #888;
  opacity: 30%;
  width: 100%
}

::-webkit-scrollbar{
  display: none;
}

#keysTitle{
  display: flex;
  direction: rtl;
  transition: color 0.2s;
  gap: 15px;
  padding-bottom: 20px;
  align-items: center;
}

.keysRow{
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

shortcut-list{
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  overflow-y: auto;

}

.keysRow>h2{
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 500;
}

custom-shortcut {
  justify-content: space-between;
  align-items: center;
  height: 50px !important;
  display: flex;
  flex-direction: row;
  direction: rtl;
}

shortcut-text {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;  
}

shortcut-keys {
  color: #666;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;  
}

::marker {
  display: none;
}

shortcut-list summary {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  font-size: 23px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;  
  transition: font-weight 0.1s;
}
shortcut-list summary>span {
  font-size: 20px;
  font-weight: 200;
}
shortcut-list details[open]>summary>span{
  display: none;
}
shortcut-list summary:hover, shortcut-list details[open]>summary{
  cursor: pointer;
  font-weight: 600;
}
shortcut-list summary:active {
  cursor: pointer;
  font-weight: 500;
}

#keysTitleText{
  font-size: 36px;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
}

#archivePage, #searchPage{
  display: none;
  width: 100%;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  margin-bottom: auto;
  max-height: 100%;
}

#keysTitleIcon{
  fill: hsl(var(--theme-h), 60%, 40%);
  height: 100%;
  width: 34px;
  -webkit-user-select: none;
  user-select: none;
  transition: fill 0.2s;
}

#shortcutsHelp.closed{
  bottom: -62%;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.sidebarGrid{ width: 100%; flex-grow: 1; }


.notebook{ width: 100%; height: 100%; }

math-field {
  font-size: 30px;
  --hue: var(--theme-h)
}

svg {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.GeoGebraFrame { border-color: transparent !important; }

.GeoGebraFrame,
.gwt-Label {
  border-radius: 7px;
  font-family: Rubik !important;
}

.ql-formula .katex {
  display: inline-flex;
}

.theorem>.grid-stack-item-content>.actionsArea {
  background: rgba(255, 196, 0, 0.07) !important;
}

.theorem>.grid-stack-item-content>.actionsArea .actionsArea, .archiveBlock.theorem .actionsArea {
  background: rgba(148, 116, 0, 0.07) !important;
}

.proof>.grid-stack-item-content>.actionsArea {
  background: rgba(0, 128, 255, 0.07) !important;
}

.proof>.grid-stack-item-content>.actionsArea .actionsArea, .archiveBlock.proof .actionsArea {
  background: rgba(0, 74, 147, 0.07) !important;
}
.defenition>.grid-stack-item-content>.actionsArea {
  background: rgba(255, 0, 38, 0.07) !important;
}
.defenition>.grid-stack-item-content>.actionsArea .actionsArea, .archiveBlock.defenition .actionsArea {
  background: rgba(147, 0, 22, 0.07) !important;
}
.assumption>.grid-stack-item-content>.actionsArea {
  background: rgba(0, 255, 128, 0.07) !important;
}
.assumption>.grid-stack-item-content>.actionsArea .actionsArea, .archiveBlock.assumption .actionsArea {
  background: rgba(0, 147, 73, 0.07) !important;
}


.actionsArea {
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  /* border: 1px solid transparent; */
  transition: 0.2s;
}

.actionsArea:has(.ggBox) { padding: 3px; }


.actionsArea:hover {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(128, 128, 128,0.3) inset !important;
  -moz-box-shadow: 0px 0px 0px 1px rgba(128, 128, 128,0.3) inset !important;
  box-shadow: 0px 0px 0px 1px rgba(128, 128, 128,0.3) inset !important;
}

.appContainer {
  display: flex;
  flex-direction: row;
  direction: rtl;

  height: inherit;
  max-height: 100%;
  min-width: 100%;
}

.applet_scaler,
.ggbTransform,
.ggBox,
.applet_dimensions {
  width: 100% !important;
  height: 100% !important;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  overflow-x: auto;
}

.fileName {
  direction: rtl;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.folderContent .fileName {
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.folderContent .fileIcon { width: 15px; }

.notebook .grid-stack-item-content{ padding-right: 18px; }

#sidebarList{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-height: 100%;
  flex-grow: 1;
}

#settingsZone {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  width: 100% !important;
  padding-top: 10px;
}

#colorSwitcher{
  cursor: pointer;
  width: 75px;
  height: 80%;
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  border-radius: 15px;
  border: 0px solid transparent;
  color: hsl(var(--theme-h), var(--theme-s), var(--theme-l)); 
  transition: 0.2s;
}

#colorSwitcher:hover{
  cursor: pointer;
  transform: scale(1.03)
}
#colorSwitcher:active{
  cursor: pointer;
  transform: scale(0.97)
}

#clr-picker{
  width: 240px;
  background-color: #fff;
}

.clr-alpha, .clr-alpha div, .clr-swatches button, .clr-preview:before, .clr-field button {
  background-image: none;
}

button:focus {outline:0;}

.settingsButton {
  -webkit-user-select: none;
  user-select: none;
  font-weight: 400;
  transition: font-weight 0.15s;
}
.settingsButton:hover {
  font-weight: 500;
  cursor: pointer;
}
.settingsButton:active {
  font-weight: 700;
  cursor: pointer;
}
.settingsText {
  transition: font-color 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.settingsArea {
  align-self: center;
  font-size: 18px;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 240px;
}

.folderContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: 0.2s;
  /* overflow-y: hidden; */
  width: 250px !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

.folderTitleText {
  direction: rtl;
  font-size: 18px;
  font-weight: 400;
  transition: 0.1s;
}

.folderTitle:hover>.folderTitleText, .folderTitleText#open { font-weight: 550; }

.folderTitle:active>.folderTitleText { font-weight: 400; }

.folderTitle:active>.notebookIcon { filter: brightness(100%); }

.folderTitle:hover, .folderTitle:active { cursor: pointer; }

.folderTitle {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  direction: rtl;

  align-items: center;
  height: 35px;
  justify-content: flex-start;
}

.fileIcon.toDelete{
  fill: hsl(0, var(--theme-s), 40%) !important;
  cursor: pointer;
}

.ggbContainer {
  height: 100%;
  min-width: 100%;
}

.grid-stack .grid-stack-placeholder>.placeholder-content {
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  filter: opacity(20%);
  border-radius: 8px;
  margin: 0;
  position: absolute;
  margin-right: 27px;
  width: calc(100%-27px);
  z-index: 0 !important;
  text-align: center;
  transition: 0.2s;
}
.sidebarGrid .grid-stack-placeholder>.placeholder-content {
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  filter: opacity(20%);
  border-radius: 8px;
  margin: 0;
  position: absolute;
  width: 90%;
  height: 35px;
  z-index: 0 !important;
  text-align: center;
  transition: 0.2s;
}

.grid-stack-item {
  background: transparent;
  overflow-y: hidden !important;
  transition: display 0.2s;
}

.actionsArea:has(.mathBlock:first-child){
  overflow-y: scroll;
}

.block .grid-stack-item-content {
  display: flex;
  direction: rtl;
  overflow-y: hidden !important;
  max-height: 100%;
  height: auto;
}

.grid-stack-item-content:has(.Group){
  display: flex;
  flex-direction: column;
  direction: rtl;
  overflow-y: hidden !important;
  max-height: 100%;
  height: auto;
}
.grid-stack-item-content:has(.Group)>.actionsArea{
  flex-grow: 1;
  width: unset !important;
  overflow: auto;
}

.groupTop{
  height: 40px;
  position: static;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  direction: rtl;
  font-size: 23px;
  align-items: center;
}
.groupTitle{
  height: inherit;
  -webkit-user-drag: none;
  font-weight: 600;
  padding-top: 8px;
  transition: 0.2s;
}
.groupType{
  -webkit-user-select: none;
  user-select: none;
  height: inherit;
  padding-top: 1px;
  font-weight: 300;
  transition: 0.2s;
}
.groupType:hover{
  cursor: pointer;
  font-weight: 400;

}
.groupType:active{
  cursor: pointer;
  font-weight: 500;
}

.groupTop .seperator{
  -webkit-user-select: none;
  user-select: none;
  font-weight: 300;
  height: inherit;
  padding-top: 8px;
  transition: 0.2s;

}

.grid-stack-item-content:has(h1:only-child)>.handle {
  margin-top: auto;
  margin-bottom: auto;
}

.handle {
  min-width: 22px !important;
  height: 22px;
  padding-left: 5px;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.2s;
}

.handle:hover {
  cursor: grab;
  opacity: 50%;
}
.handle:active {
  cursor: grabbing;
  opacity: 60%;
}

.icon {
  -webkit-user-drag: none;
  filter: brightness(30%) saturate(400%);
  fill: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
}

/* .picBlockIcon{
  opacity: 20%;
  align-self: center;
  justify-self: center;
} */

.sidebarItem>.grid-stack-item-content{ height: fit-content; }

.notebook .listedFile{ width: 100%; }

.listedFile {
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: background-color 0.2s;
  display: flex;
  direction: rtl;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

/* .listedFile:has(.fileName#closed) { background-color: rgba(0, 0, 0, 0); } */


.notebookIcon{
  height: 20px;
  padding-right: 8px;
  padding-left: 6px;
  transition: 0.2s;
  fill: hsl(var(--theme-h), 50%, 30%);
}
.fileIcon {
  height: 20px;
  padding-right: 8px;
  padding-left: 8px;
  transition: 0.2s;
  fill: hsl(var(--theme-h), 50%, 30%);
}

.ML__keyboard--plate{
  direction: ltr !important;
  border-radius: 10px 10px 0px 0px !important;
}
.ML__keyboard{
  width: 60% !important;
  left: inherit !important;
}

.pageContainer {
  background-color: white;
  position: relative;
  width: 73%;
  border-radius: 20px 20px 0px 0px;
  height: 100% !important;
  overflow-y: scroll !important;
  box-shadow: 0px 0px 0px 1px rgba(128, 128, 128,0.15) inset;
  min-height: 100% !important;
  scroll-behavior: smooth;
  transition: 0.2s;
}

.pageContainer::-webkit-scrollbar { display: none; }

#page {
  min-height: 10000% !important;
  width: initial;
  margin: 10px;
  background: var(--page-style);
}

.pageDivider{
  background: gray;
  opacity: 40%;
  direction: rtl;
  margin-right: 0px;
  max-width: 100%;
  width: 100%;
  height: 1px;
  border: none;
  transition: 0.2s;
}

.ql-editor:has(h1:only-child) { overflow-y: hidden !important; }

.ql-formula { direction: ltr; }

.toolGroup {
  background-color: hsl(var(--theme-h), 66%, 74%);
  gap: 3px;
  overflow: hidden;
  display: flex;
  transition: 0.2s;
  flex-direction: column;
  border-radius: 100px;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border-color: transparent;
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  transition: ease 0.2s;
  transform: scale(1)
}

.tool:active {
  transform: scale(0.940);
  cursor: pointer;
}

.tool:hover {
  transition: ease 0.2s;
  filter: brightness(94%) saturate(250%);
  cursor: pointer;
}

.ui-draggable-dragging>.grid-stack-item-content,
.ui-resizable-resizing>.grid-stack-item-content {
  box-shadow: 0 0 0px transparent;
  opacity: 0.9;
}

.ui-resizeable-resizing>.grid-stack-item-content {
  box-shadow: 0 0 0px transparent;
  opacity: 0.9;
}

.grid-stack-item-removing .actionsArea, .grid-stack-item-removing .pageDivider {
  max-width: 30px;
  max-height: 30px;
  opacity: 0.3;
  background-color: hsl(0, var(--theme-s), var(--theme-l))  !important;
}
.grid-stack-item-removing .groupTop :not(.handle) {
  padding-top: 8px;
  font-size: 5px;
  height: 5px;
}

.windowButton {
  -webkit-app-region: no-drag;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #FFFFFF;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.2s;
}

.windowButton#close:active .icon { filter: brightness(500%) !important; }

.windowButton#close:active { background-color: rgb(255, 66, 104); }

.windowButton#close:hover { background-color: rgb(255, 104, 134); }

.windowButton#maximize:active, .windowButton#minimize:active { filter: brightness(80%); }

.windowButton#maximize:hover, .windowButton#minimize:hover { filter: brightness(90%); }

.windowButton:hover { cursor: pointer; }

.windowButton>.icon {
  width: 70%;
  padding-top: 3px;
}

#con {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  direction: rtl;
  align-items: flex-start;
  flex: 1;
  overflow-y: hidden;
  transition: background-color 0.2s;
}

#placeHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.2s;
}

#archivePlaceHolder{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.2s;
}

.kbc-button {
  color: #777 !important;
  font-family: Rubik;
  font-weight: 100;
  transition: 0.2s;
}

.placeHolderText {
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  direction: rtl;
  font-size: 25px;
  font-weight: 100;
  color: #777;
}
.placeHolderText.space { font-size: 10px;}

#content {
  background-color: rgb(255, 255, 255);
  flex: 1;
  overflow-y: hidden;
  padding-top: 70px;
  position: relative;
  display: none;
  flex-direction: row;
  direction: rtl;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  height: -webkit-fill-available;
  transition: 0.2s;
}

#fileName {
  direction: rtl;
  font-weight: 700;
  -webkit-app-region: none
}

#filepath {
  color: hsl(var(--theme-h), 50%, 20%);
  width: -webkit-fit-available;
  font-weight: lighter;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  direction: rtl;
}

#header {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  direction: rtl;

  justify-content: space-between;
  width: -webkit-fill-available;
  height: 45px;
  background-color: white;
  border-bottom: 1px solid #d2d2d2;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.2s;

}

#logo {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  transition: 0.2s;
  filter: brightness(25%);
  fill: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
}

#logo:hover {
  filter: brightness(40%) saturate(120%);
  cursor: pointer;
}

#logo:active {
  filter: brightness(60%) saturate(160%);
  cursor: pointer;
}

#menuItems, #bottomItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#sidebarTitle {
  font-size: 25px;
  font-weight: 700;
  margin-top: 14px;
  padding-right: 20px;
  /* width: 0px; */
  direction: rtl;
  height: fit-content;
  -webkit-user-select: none;
  user-select: none;
  color: hsl(var(--theme-h), 40%, 30%);
  opacity: 50%;
  padding-bottom: 7px;
  white-space: nowrap;
}

#sidebarContent:has(.sidebarGrid)>#sidebarTitle:hover {
  cursor: alias;
}

#settings { margin-bottom: 10px }

#settings>svg { transition: transform 0.4s }

#settings:hover>svg { transform: rotate(60deg) }

#settings:active>svg { transform: rotate(300deg) }

#help>svg { transition: transform 0.2s }

#help:hover>svg { transform: rotate(10deg) }

#help:active>svg { transform: rotate(-10deg) }

#search>svg { transition: transform 0.4s }

#search:hover>svg { transform: rotate(10deg) }

#search:active>svg { transform: rotate(-5deg) }

#notebooks>svg {
  transition: transform 0.4s;
  perspective: 100px;
}

#notebooks:hover>svg {
  transform: rotateX(-20deg);
  perspective: 100px;
}

#notebooks:active>svg {
  perspective: 100px;
  transform: rotateX(20deg);
}

#sidebar .tool {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: hsl(var(--theme-h), 66%, 74%);
  transition: 0.2s;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#sidebar {
  background-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
  min-width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
  z-index: 10;
}

#sidebarButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#sidebarContainer {
  z-index: 1;
  display: flex;
  background-color: white;
  min-height: 100%;
  max-height: 100%;
  transition: 0.15s ease;
  /* transition: min-width 0.5s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.2s, background-color 0.2s; */
}
#sidebarContainer.closed {
  min-width: 0px;
}
#sidebarContent.closed {
  margin-right: -280px !important;
}
#sidebarContainer.open {
  min-width: 280px;
}
#sidebarContent.open {
  margin-right: 0px !important;
}


#sidebarContent {
  border-left: 0.3px solid #d2d2d2;
  transition: 0.15s ease;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  transition: 0.2s;
}

#toolbar>.tool>.icon { width: 100% !important }

#windowButtons {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  direction: ltr;
  gap: 6px;
}

.GeoGebraFrame .toolbar .header-open-portrait,
.GeoGebraFrame .toolbar .header-close-portrait,
.GeoGebraFrame .closeLandscape.toolbar {
  box-shadow: none !important;
}

#trashCan { background-color: hsl(0, var(--theme-s), var(--theme-l)) }

#trashCan>.icon { fill: hsl(0, var(--theme-s), var(--theme-l)) }

#snackbar {
  direction: rtl;
  visibility: hidden;
  align-self: center;
  min-width: 120px;
  margin-left: -60px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  /* left: 50%; */
  bottom: 30px;
}


#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.2s, fadeout 0.3s 1s;
  animation: fadein 0.2s, fadeout 0.3s 1s;
}

@-webkit-keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}

@-webkit-keyframes slideIn {
  from { height: 0%; }
  to { height: 70%; }
}

@keyframes slideIn {
  from { height: 0%; }
  to { height: 70%; }
}

@-webkit-keyframes slideOut {
  from { height: 70%; }
  to { height: 0%; }
}

@keyframes slideOut {
  from { height: 70%; }
  to { height: 0%; }
}

ul {
  list-style: none;
}
.context-menu { 
  position: absolute; 
  z-index: 1000;
  height: 80px;

} 
.context-menu .menu {
  width: 100px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    120deg,
    rgba(230, 230, 230, .2),
    rgba(230, 230, 230, .7), 70%, 
    rgba(230, 230, 230, .2)
  );
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.groupTypeSelector{
  -webkit-user-drag: none;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: 0;
  height: 40px;
}

::-webkit-file-upload-button{
  display: none;
}

.picturePicker{
  color: transparent;
  width: 100%;
  height: 100%;
  background: url(icons/picture.svg) no-repeat scroll 50% 50%;
  background-size: 30% 30%;
}

.pictureBlock{
  width: 100%;
  border-radius: 7px;
}
.actionsArea .ggBox{
  direction: ltr !important;
}
.groupTypeSelector:hover{
  background-color: rgba(30, 30, 30, .1);
  cursor: default;
}
.groupTypeSelector:active{
  background-color: rgba(30, 30, 30, .2);
  cursor: default;
}

.groupTypeSelector span {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;

  font-size: large !important;
  font: inherit;
  border: 0;
  direction: rtl;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: unset;
  font-weight: 400;
}

#archiveApp, #searchApp {
  overflow-y: scroll !important;
  min-height: 100% !important;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.3s;
  width: 55%;
  align-self: center;
}
.archiveContainer:first-child, .searchContainer:first-child{
  padding-top: 70px;
}

.archiveContainer, .searchContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  direction: rtl;
  gap: 20px;
  height: 100%;
  transition: height 0.3s, padding-bottom 0.5s;
}


.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}


.line.open {
  height: 100%;
}
.archiveContainer.open, .searchContainer.open{
  padding-bottom: 30px;
}
div.circle {
  width: 10px;
  height: 10px;
  background: rgb(210, 210, 210);
  border-radius: 50%;
  transition: background 0.2s;
}
.line {
  height: 0;
  z-index: 0;
  width: 2px;
  background: rgb(210, 210, 210);
  transition: height 0.5s, background 0.2s;
}

.sideContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  width: 10px;
  align-items: center;
  margin-top: 30px;
}

.archiveBlockTitle.first, .searchBlockTitle.first{
  height: 70px;

}

#searchBar{
  width: inherit;
  min-height: 35px;
  border: none;
  font-size: 24px;
  font-family: Rubik;
  color: #121212;
  background: transparent;
}

#searchBar::placeholder{
  font-weight: 100;
  font-size: 23px;
  font-family: Rubik;
}

#searchBar:focus{
  outline: none;
}

#timeTooltip{
  font-weight: 100;
  opacity: 0%;
  transition: opacity 0.4s;
  z-index: 1;
  position: absolute;
}

.archiveBlockTitle, .searchBlockTitle{
  height: 30px;
  padding-right: 4px;
  font-family: 'Rubik';
  transition: 0.3s;
  display: flex;
  direction: rtl;
  gap: 15px;
  flex-direction: row;
}
/* .archiveBlockTitle.open{
  height: 400px;
} */
.archiveBlockTitle.open .archiveBlock{
  overflow-y: scroll;
}
.archiveBlockTitle.open .archiveBlock .block{
  width: 100%;
  display: block;
}

/* .archiveBlockTitle .archiveBlock {
  height: 100%;
  transform: scaleY(1);
  transition: transform 0.3s;
  transform-origin: top;

}

.archiveBlockTitle.open .archiveBlock{
  height: 100%;

  transform: scaleY(1);
} */

.archiveBlockTitle.first span, .searchBlockTitle.first span {
  -webkit-user-select: none;
  user-select: none;
  align-self: center;
  font-size: 38px;
  transition: 0.2s;
}
.archiveBlockTitle.first span:hover, .searchBlockTitle.first span:hover{
  transform: scale(1.03);
  cursor: pointer;
}
.archiveBlockTitle.first span:active, .searchBlockTitle.first span:active{
  transform: scale(1.01);
  cursor: pointer;
}

.titleText{
  font-weight: 200;
  transition: font-weight 0.3s, color 0.2s;
}
.titleText.open{
  font-weight: 700;
}
.archiveContent, .searchContent {
  height: 100%;
  display: flex;
  flex-direction: row;
  direction: rtl;
  width: 100%;
}

.archiveBlock, .searchBlock {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll !important;
  min-height: 12px !important;
}
.archiveBlock .block, .searchBlock .block{
  display: none;
}

#searchApp .block {
  width: 100% !important;
}

.biglist {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
  gap: 10px;
}

.archiveBlockType {
  white-space: nowrap;
  width: 130px;
  height: fit-content;
  font-size: 21px;
  font-weight: 300;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.2s;
}
.archiveBlockType.open {
  font-weight: 500;
}
.archiveBlockType:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.archiveBlockType:active {
  transform: scale(0.98);
  cursor: pointer;
}

.listContainer.open{
  max-height: 100vh;
  transition: max-height 2s;
}
.listContainer{
  transition: max-height 0.4s;
  overflow-y: hidden;

  max-height: 0vh;
}
.sideLine {
  display: flex;
  flex-direction: column;
}
.archiveBlock.theorem {
background: rgba(255, 196, 0, 0.1) !important;
}
.archiveBlock.proof {
background: rgba(0, 128, 255, 0.07) !important;
}
.archiveBlock.defenition {
background: rgba(255, 0, 38, 0.07) !important;
}
.archiveBlock.assumption {
background: rgba(0, 164, 27, 0.07) !important;
}